<div class="navbar-wrapper">
    <nav class="navbar navbar-default navbar-fixed-top navbar-expand-md" role="navigation">
        <div class="container">        
            <a class="navbar-brand" href="<%= url_for :controller => 'pages', :action => 'index' %>"><img alt="image" src="assets/logo_trazo.png" width="90" height="40"></a>
            <div class="navbar-header page-scroll">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar">
                    <i class="fa fa-bars"></i>
                </button>
            </div>
            <div class="collapse navbar-collapse justify-content-end" id="navbar">
                <ul class="nav navbar-nav navbar-right">
                    <li><a class="nav-link page-scroll" href="<%= url_for :controller => 'pages', :action => 'index', :anchor => 'page-top' %>"><%= @menu1 %></a></li>
                    <li><a class="nav-link page-scroll" href="<%= url_for :controller => 'pages', :action => 'index', :anchor => 'features' %>"><%= @menu2 %></a></li>
                    <li><a class="nav-link page-scroll" href="<%= url_for :controller => 'pages', :action => 'index', :anchor => 'team' %>"><%= @menu3 %></a></li>
                    <li><a class="nav-link page-scroll" href="<%= url_for :controller => 'pages', :action => 'index', :anchor => 'testimonials' %>"><%= @menu4 %></a></li>
                    <li><a class="nav-link page-scroll" href="<%= url_for :controller => 'pages', :action => 'index', :anchor => 'pricing' %>"><%= @menu5 %></a></li>
                    <li><a class="nav-link page-scroll" href="<%= url_for :controller => 'pages', :action => 'index', :anchor => 'contact' %>"><%= @menu6 %></a></li>
                </ul>
            </div>
        </div>
    </nav>
</div>
<div id="inSlider" class="carousel slide" data-ride="carousel" >
    <ol class="carousel-indicators">
        <li data-target="#inSlider" data-slide-to="0" class="active"></li>
        <li data-target="#inSlider" data-slide-to="1"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="carousel-item active">
            <div class="container">
                <div class="carousel-caption">
                    <h1><%= @carrusel11 %><br>
                    <%= @carrusel12 %><br>
                    <%= @carrusel13 %><br>
                    <p><%= @carr1_parrafo %></p>
                    <p>
                        <a class="btn btn-lg btn-primary" role="button" data-toggle="modal" data-target="#modalCarrusel1">Historia</a>
                    </p>
                </div>
                <div class="carousel-image wow zoomIn">
                    <img src="assets/toyota_new_old.png" alt="Urvan"/>
                </div>
            </div>
            <!-- Set background for slide in css -->
            <div class="header-back one"></div>
        </div>
        <div class="carousel-item">
            <div class="container">
                <div class="carousel-caption blank">
                    <h1><%= @carrusel21 %> <br/><%= @carrusel22 %> </h1>
                    <p><%= @carr2_parrafo %></p>
                    <p>
                        <a class="btn btn-lg btn-primary" role="button" data-toggle="modal" data-target="#modalCarrusel2">Saber más</a>
                    </p>
                </div>
                <div class="carousel-image wow zoomIn">
                    <img src="assets/Lujo.png" alt="Lujo"/>
                </div>
            </div>
            <!-- Set background for slide in css -->
            <div class="header-back two"></div>
        </div>
    </div>
    <a class="carousel-control-prev" href="#inSlider" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Anterior</span>
    </a>
    <a class="carousel-control-next" href="#inSlider" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Siguiente</span>
    </a>
</div>

<div class="modal fade" id="modalCarrusel1" tabindex="-1" role="dialog" aria-labelledby="modalCarrusel1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title" id="modalCarrusel1">Nuestra Historia</h2>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p><%= @modalhistoriatext1 %></p> 
        <p><%= @modalhistoriatext2 %></p>
        <p><%= @modalhistoriatext3 %></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="modalCarrusel2" tabindex="-1" role="dialog" aria-labelledby="modalCarrusel2" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title" id="modalCarrusel2">Transporte ejecutivo</h2>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>
            <%= raw @modalviptext %>
        </p> 
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>


<section id="features" class="container services">
    <div class="row">
        <div class="col-sm-3">
            <h2><%= @featurestitle1 %></h2>
            <p><%= @featurestext1 %></p>
            <p><a class="navy-link" role="button" data-toggle="modal" data-target="#modalServicios1"><%= a="Detalles "%> &raquo;</a></p>
        </div>
        <div class="col-sm-3">
            <h2><%= @featurestitle2 %></h2>
            <p><%= @featurestext2 %></p>
            <p><a class="navy-link" role="button" data-toggle="modal" data-target="#modalServicios2"><%= a="Detalles "%> &raquo;</a></p>
        </div>
        <div class="col-sm-3">
            <h2><%= @featurestitle3 %></h2>
            <p><%= @featurestext3 %></p>
            <p><a class="navy-link" role="button" data-toggle="modal" data-target="#modalServicios3"><%= a="Detalles "%> &raquo;</a></p>
        </div>
        <div class="col-sm-3">
            <h2><%= @featurestitle4 %></h2>
            <p><%= @featurestext4 %></p>
            <p><a class="navy-link" role="button" data-toggle="modal" data-target="#modalServicios4"><%= a="Detalles "%> &raquo;</a></p>
        </div>
    </div>
</section>

<section  class="container features">
    <div class="row">
        <div class="col-lg-12 text-center">
            <div class="navy-line"></div>
            <h1><%= @featureSubTitel11 %><br/><span class="navy"><%= @featureSubTitel12 %></span> </h1>
            <p><%= @featureSubTitel13 %> </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 text-center wow fadeInLeft">
            <div>
                <i class="fa fa-mobile features-icon"></i>
                <h2><%= @featuremovil %></h2>
                <p><%= @featuremovilp %></p>
            </div>
            <div class="m-t-lg">
                <i class="fa fa-bar-chart features-icon"></i>
                <h2><%= @featureconsumo %></h2>
                <p><%= @featureconsumop %></p>
            </div>
        </div>
        <div class="col-md-6 text-center  wow zoomIn">
            <img src="assets/perspective.png" alt="dashboard" class="img-fluid">
        </div>
        <div class="col-md-3 text-center wow fadeInRight">
            <div>
                <i class="fa fa-map-marker features-icon"></i>
                <h2><%= @featuregps %></h2>
                <p><%= @featuregpsp %></p>
            </div>
            <div class="m-t-lg">
                <i class="fa fa-map-o features-icon"></i>
                <h2><%= @featuremapeo %></h2>
                <p><%= @featuremapeop %></p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 text-center">
            <div class="navy-line"></div>
            <h1><%= @featureSubTitel21 %></h1>
            <p><%= @featureSubTitel23 %></p>
        </div>
    </div>
    <div class="row features-block">
        <div class="col-lg-6 features-text wow fadeInLeft">
            <small><%= @ttpnsmall %></small>
            <h2><%= @featurereport %></h2>
            <p><%= @featurereportp %></p>
        </div>
        <div class="col-lg-6 text-right wow fadeInRight">
            <img src="assets/campain.png" alt="dashboard" class="img-fluid float-right">
        </div>
    </div>
</section>

<div class="modal fade" id="modalServicios1" tabindex="-1" role="dialog" aria-labelledby="modalServicios1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title" id="modalServicios1">Servicio de Ruta</h2>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p><%= @modalruteotext1 %></p> 
        <p><%= @modalruteotext2 %></p>
        <p><%= @modalruteotext3 %></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="modalServicios2" tabindex="-1" role="dialog" aria-labelledby="modalServicios2" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title" id="modalServicios2">Tiempo Extra</h2>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p><%= raw @modaltetext1 %></p> 
        <p><%= raw @modaltetext2 %></p>
        <p>
            <small>
                <%= @modaltetext3 %><br>
                <%= @modaltetext4 %>
            </small>
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="modalServicios3" tabindex="-1" role="dialog" aria-labelledby="modalServicios3" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title" id="modalServicios3">Transportación VIP</h2>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p><%= raw @modalviptext %></p> 
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="modalServicios4" tabindex="-1" role="dialog" aria-labelledby="modalServicios4" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title" id="modalServicios4">Transportación Turística</h2>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p><%= raw @modaltransportetext1 %></p> 
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>

<section id="team" class="gray-section team">
    <div class="container">
        <div class="row m-b-lg">
            <div class="col-lg-12 text-center">
                <div class="navy-line"></div>
                <h1><%= @teamtitle %></h1>
                <p><%= @teamtext %></p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4 wow fadeInLeft">
                <div class="team-member">
                    <img src="assets/avatar3.jpg" class="img-fluid rounded-circle img-small" alt="">
                    <h4><span class="navy"><%= @rhname %></span> <%= @rhlastname %></h4>
                    <p><%= @rhdescr %></p>
                    <ul class="list-inline social-icon">
                        <li class="list-inline-item"><a href="#" target="_blank"><i class="fa fa-instagram"></i></a>
                        </li>
                        <li class="list-inline-item"><a href="https://www.facebook.com/thania.espinoza.503" target="_blank"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li class="list-inline-item"><a href="#" target="_blank"><i class="fa fa-linkedin"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="team-member wow zoomIn">
                    <img src="assets/avatar1.jpg" class="img-fluid rounded-circle" alt="">
                    <h4><span class="navy"><%= @ceoname %></span> <%= @ceolastname %></h4>
                    <p><%= @ceodescr %></p>
                    <ul class="list-inline social-icon">
                        <li class="list-inline-item"><a href="#" target="_blank"><i class="fa fa-instagram"></i></a>
                        </li>
                        <li class="list-inline-item"><a href="https://www.facebook.com/Grupotulpe/" target="_blank"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li class="list-inline-item"><a href="#" target="_blank"><i class="fa fa-linkedin"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-4 wow fadeInRight">
                <div class="team-member">
                    <img src="assets/avatar2.jpg" class="img-fluid rounded-circle img-small" alt="">
                    <h4><span class="navy"><%= @opname %></span> <%= @oplastname %></h4>
                    <p><%= @opdescr %></p>
                    <ul class="list-inline social-icon">
                        <li class="list-inline-item"><a href="#" target="_blank"><i class="fa fa-instagram"></i></a>
                        </li>
                        <li class="list-inline-item"><a href="https://www.facebook.com/Grupotulpe/" target="_blank"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li class="list-inline-item"><a href="#" target="_blank"><i class="fa fa-linkedin"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center m-t-lg m-b-lg">
                <p><%= @teamfooter %></p>
            </div>
        </div>
    </div>
</section>

<section class="timeline gray-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="navy-line"></div>
                <h1><%= @flowheader %></h1>
                <p><%= @flowtitle %> </p>
            </div>
        </div>
        <div class="row features-block">

            <div class="col-lg-12">
                <div id="vertical-timeline" class="vertical-container light-timeline center-orientation">
                    <div class="vertical-timeline-block">
                        <div class="vertical-timeline-icon navy-bg">
                            <i class="fa fa-briefcase"></i>
                        </div>

                        <div class="vertical-timeline-content">
                            <h2><%= @flow1t %></h2>
                            <p><%= @flow1p %></p>
                            <span class="vertical-date"><%=l Date.today, locale: :es, format: :diasem %> <br/> <small><%=l Date.today, locale: :es, format: :mesdia %></small> </span>
                        </div>
                    </div>

                    <div class="vertical-timeline-block">
                        <div class="vertical-timeline-icon navy-bg">
                            <i class="fa fa-file-text"></i>
                        </div>

                        <div class="vertical-timeline-content">
                            <h2><%= @flow2t %></h2>
                            <p><%= @flow2p %></p>
                            <span class="vertical-date"> <%=l Date.today + 2, locale: :es, format: :diasem %> <br/> <small><%=l Date.today + 2, locale: :es, format: :mesdia %></small> </span>
                        </div>
                    </div>

                    <div class="vertical-timeline-block">
                        <div class="vertical-timeline-icon navy-bg">
                            <i class="fa fa-cogs"></i>
                        </div>

                        <div class="vertical-timeline-content">
                            <h2><%= @flow3t %></h2>
                            <p><%= @flow3p %></p>
                            <span class="vertical-date"> Día cero<br/> <small>Fecha inicio</small> </span>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>

</section>

<section id="testimonials" class="navy-section testimonials" style="margin-top: 0">

    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center wow zoomIn">
                <i class="fa fa-comment big-icon"></i>
                <h1><%= @clienthead %></h1>
                <div class="testimonials-text">
                    <i><%= @clienttext %></i>
                </div>
                <small>
                    <strong><%= @clientwho %></strong>
                </small>
            </div>
        </div>
    </div>
</section>

<section class="comments gray-section" style="margin-top: 0">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="navy-line"></div>
                <h1>¿Que más comentarios tenemos?</h1>
                <p>Nuestros clientes respaldan nuestra calidad y servicio.</p>
            </div>
        </div>
        <div class="row features-block">
            <div class="col-lg-4">
                <div class="bubble">
                    "Ut nulla ullamco esse tempor reprehenderit exercitation quis exercitation esse non cupidatat eu commodo."
                </div>
                <div class="comments-avatar">
                    <a href="" class="float-left">
                        <img alt="image" src="assets/avatar3_bck.jpg">
                    </a>
                    <div class="media-body">
                        <div class="commens-name">
                            Yessi Rios
                        </div>
                        <small class="text-muted">Visteon</small>
                    </div>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="bubble">
                    "Ipsum ullamco amet sint tempor minim velit sint dolore do. Aliqua est nostrud minim in et minim sunt fugiat consectetur nostrud laboris et minim."
                </div>
                <div class="comments-avatar">
                    <a href="" class="float-left">
                        <img alt="image" src="assets/avatar4.jpg">
                    </a>
                    <div class="media-body">
                        <div class="commens-name">
                            José Luis Cuellar
                        </div>
                        <small class="text-muted">Heneywell</small>
                    </div>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="bubble">
                    "Culpa nostrud consectetur ipsum ut. Nostrud exercitation cupidatat amet incididunt non ipsum voluptate."
                </div>
                <div class="comments-avatar">
                    <a href="" class="float-left">
                        <img alt="image" src="assets/avatar6.jpg">
                    </a>
                    <div class="media-body">
                        <div class="commens-name">
                            Omar Andujo
                        </div>
                        <small class="text-muted">alsuper</small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="features">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="navy-line"></div>
                <h1><%= @mfeaturehead %></h1>
                <p><%= @mfeaturetitle %></p>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-5 col-lg-offset-1 features-text">
                <small><%= @ttpnsmall %></small>
                <h2><%= @mfeature1t %></h2>
                <i class="fa fa-medkit big-icon float-right"></i>
                <p><%= @mfeature1p %></p>
            </div>
            <div class="col-lg-5 features-text">
                <small><%= @ttpnsmall %></small>
                <h2><%= @mfeature2t %></h2>
                <i class="fa fa-bolt big-icon float-right"></i>
                <p><%= @mfeature2p %></p>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-5 col-lg-offset-1 features-text">
                <small><%= @ttpnsmall %></small>
                <h2><%= @mfeature3t %></h2>
                <i class="fa fa-clock-o big-icon float-right"></i>
                <p><%= @mfeature3p %></p>
            </div>
            <div class="col-lg-5 features-text">
                <small><%= @ttpnsmall %></small>
                <h2><%= @mfeature4t %></h2>
                <i class="fa fa-users big-icon float-right"></i>
                <p><%= @mfeature4p %></p>
            </div>
        </div>
    </div>
</section>
<section id="pricing" class="pricing">
    <div class="container">
        <div class="row m-b-lg">
            <div class="col-lg-12 text-center">
                <div class="navy-line"></div>
                <h1><%= @vehiculohead %></h1>
                <p><%= @vehiculotitle %></p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 wow zoomIn">
                <ul class="pricing-plan list-unstyled">
                    <li class="pricing-title">
                        <%= @vehiculo11%>
                    </li>
                    <li class="pricing-desc">
                        <%= @vehiculo12 %>
                    </li>
                    <li class="pricing-price">
                        <span>1 - 4</span> / usuarios
                    </li>
                    <li>
                        Auto utilitario o de lujo
                    </li>
                    <li>
                        Modelos recientes
                    </li>
                    <li>
                        Aire acondicionado
                    </li>
                    <li>
                        Calefacción
                    </li>
                    <li>
                        Rastreo GPS
                    </li>
                    <li>
                        <a class="btn btn-primary btn-xs" href="mailto:recursoshumanos@ttpn.com.mx">Contactar</a>
                    </li>
                </ul>
            </div>

            <div class="col-lg-4 wow zoomIn">
                <ul class="pricing-plan list-unstyled selected">
                    <li class="pricing-title">
                        <%= @vehiculo21 %>
                    </li>
                    <li class="pricing-desc">
                        <%= @vehiculo22%>
                    </li>
                    <li class="pricing-price">
                        <span>5 - 14</span> / usuarios
                    </li>
                    <li>
                        Unidades equipadas
                    </li>
                    <li>
                        Modelos recientes
                    </li>
                    <li>
                        Fácil acceso
                    </li>
                    <li>
                        Ventanillas laterales
                    </li>
                    <li>
                        Cristales con protección UV
                    </li>
                    <li>
                        Rastreo por GPS
                    </li>
                    <li class="plan-action">
                        <a class="btn btn-primary btn-xs" href="mailto:recursoshumanos@ttpn.com.mx">Contactar</a>
                    </li>
                </ul>
            </div>

            <div class="col-lg-4 wow zoomIn">
                <ul class="pricing-plan list-unstyled">
                    <li class="pricing-title">
                        <%= @vehiculo31 %>
                    </li>
                    <li class="pricing-desc">
                        <%= @vehiculo32 %>
                    </li>
                    <li class="pricing-price">
                        <span>15 - 40</span> / usuarios
                    </li>
                    <li>
                        Unidades recientes 
                    </li>
                    <li>
                        Ideal para transporte urbano
                    </li>
                    <li>
                        Ventanillas laterales
                    </li>
                    <li>
                        Flotilla de fácil identificación
                    </li>
                    <li>
                        Rastreo por GPS
                    </li>
                    <li>
                        <a class="btn btn-primary btn-xs" href="mailto:recursoshumanos@ttpn.com.mx">Contactar</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row m-t-lg">
            <div class="col-lg-12 text-center m-t-lg">
                <p>* ¿Tiene alguna necesidad en particular?, contáctenos, con gusto pasamos a visitarle, contamos con una gran variedad de opciones. Además<span class="navy"> todos los servicios</span>  cuentan con seguro de viajero.</p>
            </div>
        </div>
    </div>

</section>

<section id="contact" class="gray-section contact">
    <div class="container">
        <div class="row m-b-lg">
            <div class="col-lg-12 text-center">
                <div class="navy-line"></div>
                <h1><%= @contacthead %></h1>
                <p><%= @contacttitle %></p>
            </div>
        </div>
        <div class="row m-b-lg justify-content-center">
            <div class="col-lg-3 ">
                <address>
                    <a href="https://goo.gl/maps/GpbRwN5KFkjfgmSY9" target="_blank"><strong><span class="navy"><i class="fa fa-map-marker"></i> Transportación Turística y Privada del Norte SA de CV.</span></strong></a><br/>
                    Av. Haciendas del Valle, 7104<br/>
                    Haciendas del Valle I Etapa,<br/> 
                    31217 Chihuahua, Chih.<br/>
                    <abbr title="Telefono">T:</abbr> (614) 541-5333
                </address>
            </div>
            <div class="col-lg-4">
                <p class="text-color">
                    <%= @contacttext %>
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center">
                <a href="mailto:recursoshumanos@ttpn.com.mx" class="btn btn-primary">Envienos un correo</a>
                <p class="m-t-sm">
                    O síganos en redes sociales
                </p>
                <ul class="list-inline social-icon">
                    <li class="list-inline-item"><a href="#" target="_blank"><i class="fa fa-instagram"></i></a>
                    </li>
                    <li class="list-inline-item"><a href="https://www.facebook.com/Grupotulpe/" target="_blank" ><i class="fa fa-facebook"></i></a>
                    </li>
                    <li class="list-inline-item"><a href="#" target="_blank"><i class="fa fa-linkedin"></i></a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center m-t-lg m-b-lg">
                <p><strong>&copy; <%= @contactfooter %></strong><br/><%= @contactfootert %></p>
            </div>
        </div>
    </div>
</section>


